<nav
     class="flex items-center z-20 text-white gap-2 py-6 md:px-20 fixed top-0 w-screen backdrop-blur-sm justify-end meta overflow-hidden">
    <ul
        class="pl-56 md:pl-0 flex gap-6 text-md md:text-base w-screen justify-evenly md:justify-end overflow-y-hidden overflow-x-auto">
        {% for item in site.data.navigation %}
        <li class="{% if forloop.first %} ml-6 md:ml-0  {% endif %}">
            <a href="{{site.baseurl}}{{ item.url }}"
               class=" {% if page.url== item.url %} rounded-full bg-white text-slate-950 font-semibold px-2 {% endif %}">
                {{ item.label }}
            </a>
        </li>
        {% endfor %}
        <li class="flex items-center pl-6 border-l whitespace-nowrap">
            <p class="bg-zinc-700 px-2 font-mono">Blog content categories</p>
            <p class="text-xl -mt-0.5">&rarr;</p>
        </li>
        {% for group in site.groups %}
        <li class="flex flex-nowrap items-center">
            <a href="{{site.baseurl}}{{ group.url }}"
               class="{% if forloop.last %} mr-6 md:mr-0  {% endif %} {% if page.url==group.url %} rounded-full bg-white text-slate-950 font-semibold px-2 {% endif %}">
                {{ group.cat | capitalize }}
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>